/.vagrant

*.log

*.card

*.bna

*.tgz

**/dist/
**/node_modules/

fabric-samples/

/composer/fabric/channel-artifacts/*.tx
/composer/fabric/channel-artifacts/*.block
/composer/fabric/crypto-config/*
/composer/fabric/docker-compose-e2e.yaml
/composer/fabric/docker-compose-cas.yaml
/composer/fabric/docker-compose-ca3.yaml
/composer/fabric/ledgers
/composer/fabric/ledgers-backup
/composer/cards/
/composer/connection-*.json
