/.vagrant

*.log

*.card

*.bna

*.tgz

**/dist/
**/node_modules/

fabric-samples/

/fabric/channel-artifacts/*.tx
/fabric/channel-artifacts/*.block
/fabric/crypto-config/*
/fabric/docker-compose-e2e.yaml
/fabric/docker-compose-cas.yaml
/fabric/docker-compose-ca3.yaml
/fabric/ledgers
/fabric/ledgers-backup
